.root {

}

#side_box {
    -fx-background-color: #00B0EB;
}
#side_button {
    -fx-background-color: #00B0EB;
    -fx-text-fill: white; 
}

#side_button:hover {
    -fx-background-color: #0099cc;
    -fx-text-fill: white;
}

#server_pattern {
    -fx-background-color: #0099cc;
    -fx-background-radius: 5px;
    -fx-spacing: 50px;
}

#server_button {
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

#server_button:hover {
    -fx-background-color: #F1F1F1;
}

#about_label {
 -fx-background-color: linear-gradient(from 100.0% 0.0% to 35.6467% 68.4543%, #FFFFFF 0.0%, #00B0EB 100.0%);
}